@font-face {
  font-family: 'Roboto-Regular', sans-serif;
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
      url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'icons';
  src:  url('../fonts/icons.eot?gtywn2');
  src:  url('../fonts/icons.eot?gtywn2#iefix') format('embedded-opentype'),
    url('../fonts/icons.ttf?gtywn2') format('truetype'),
    url('../fonts/icons.woff?gtywn2') format('woff'),
    url('../fonts/icons.svg?gtywn2#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic_envelope-o:before {
  content: "\f003";
}
.ic_user:before {
  content: "\f007";
}
.ic_close:before {
  content: "\f00d";
}
.ic_remove:before {
  content: "\f00d";
}
.ic_times:before {
  content: "\f00d";
}
.ic_lock:before {
  content: "\f023";
}
.ic_map-marker:before {
  content: "\f041";
}
.ic_edit:before {
  content: "\f044";
}
.ic_pencil-square-o:before {
  content: "\f044";
}
.ic_shopping-cart:before {
  content: "\f07a";
}
.ic_heart-o:before {
  content: "\f08a";
}
.ic_phone:before {
  content: "\f095";
}
.ic_twitter:before {
  content: "\f099";
}
.ic_facebook:before {
  content: "\f09a";
}
.ic_facebook-f:before {
  content: "\f09a";
}
.ic_bell-o:before {
  content: "\f0a2";
}
.ic_group:before {
  content: "\f0c0";
}
.ic_users:before {
  content: "\f0c0";
}
.ic_caret-down:before {
  content: "\f0d7";
}
.ic_linkedin:before {
  content: "\f0e1";
}
.ic_comment-o:before {
  content: "\f0e5";
}
.ic_comments-o:before {
  content: "\f0e6";
}
.ic_bolt:before {
  content: "\f0e7";
}
.ic_flash:before {
  content: "\f0e7";
}
.ic_suitcase:before {
  content: "\f0f2";
}
.ic_angle-right:before {
  content: "\f105";
}
.ic_angle-down:before {
  content: "\f107";
}
.ic_mail-reply:before {
  content: "\f112";
}
.ic_reply:before {
  content: "\f112";
}
.ic_meh-o:before {
  content: "\f11a";
}
.ic_location-arrow:before {
  content: "\f124";
}
.ic_cny:before {
  content: "\f157";
}
.ic_jpy:before {
  content: "\f157";
}
.ic_rmb:before {
  content: "\f157";
}
.ic_yen:before {
  content: "\f157";
}
.ic_foursquare:before {
  content: "\f180";
}
.ic_pagelines:before {
  content: "\f18c";
}
.ic_pinterest-p:before {
  content: "\f231";
}
